.text-input {
  appearance: none;
  background-color: none;
  border: 1px solid #ff4742;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 6px;
  color: #ff4742;
  font-weight: 100;
  letter-spacing: 0.01em;
  transition: background-color 0.1s ease-in-out;
}

.text-input:focus {
  outline: none;
  background-color: #ff4742;
  color: white;
}
